$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$pink-color: #FF5877;
$dark-green: #28AD7C;
$blue-color: #535FA3;
$orange-color: #FF6E4A;
$light-green: #CCE574;

body {
  font: 100% $font-stack;
  color: $primary-color;

  div#main {
    h1 {
      color: $pink-color;
    }
    canvas {
      width: 100%;
      max-width: 800px;
      border: 1px solid $primary-color;
      background-color: $dark-green;
    }
  }
}

